.grettings-main {
  padding-top: 0;
  overflow: hidden;

  .grettings-main__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
    overflow: visible;

    @include responsive1023 {
      display: flex;
      gap: 0;
    }
  }

  .grettings-main__item {
    border-radius: 40px;
    overflow: hidden;
    background-color: #f2f2f2;
    height: 470px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 40px;
    overflow: hidden;
    @include invisLink;
    transition: all 0.3s;

    @include before {
      width: 50%;
      height: 100%;
      background: linear-gradient(
        270deg,
        rgba(255, 255, 255, 0) 0%,
        rgba(244, 244, 244, 0.9) 50%
      );
      bottom: 0;
      left: 0;
      z-index: 1;
      opacity: 1;
      pointer-events: none;

      @include responsive1023 {
        background: linear-gradient(
          180deg,
          rgba(255, 255, 255, 0) 0%,
          rgba(244, 244, 244, 0.9) 50%
        );
        width: 100%;
        height: 70%;
      }
    }

    @include responsive1549 {
      height: 444px;
    }

    @include responsive1439 {
      height: 350px;
    }

    @include responsive1199 {
      height: 269px;
      padding: 30px;
    }

    @include responsive1023 {
      height: 462px;
      justify-content: flex-end;
      align-items: flex-end;
      padding: 20px;
    }

    &:first-child {
      grid-column: 1/3;
      height: 741px;
      justify-content: center;

      @include responsive1549 {
        height: 700px;
      }

      @include responsive1439 {
        height: 485px;
      }

      @include responsive1199 {
        height: 422px;
      }

      @include responsive1023 {
        height: 462px;
        justify-content: flex-end;
        align-items: flex-end;
      }

      .grettings-main__content {
        max-width: 425px;

        @include responsive1199 {
          max-width: 335px;
        }

        @include responsive1023 {
          max-width: 100%;
        }
      }

      .grettings-main__name {
        font-size: 64px;
        line-height: 66px;

        @include responsive1439 {
          font-size: 38px;
          line-height: 40px;
        }
      }

      .picture-block {
        right: 0;
      }
    }

    @include hover {
      box-shadow: 10px 15px 10px $colorBlack-a3;

      .picture-block {
        transform: scale(1.1);
      }

      .grettings-main__name {
        transform: scale(1.15) translate(12px, -10px);
      }
    }
  }

  .grettings-main__content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    position: relative;
    gap: 25px;
    width: 100%;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    max-width: 278px;
    z-index: 8;

    @include responsive1439 {
      font-size: 14px;
      line-height: 20px;
      max-width: 278px;
    }

    @include responsive1199 {
      gap: 15px;
      line-height: 18px;
    }

    @include responsive1023 {
      justify-content: center;
      align-items: center;
      max-width: 100%;
      text-align: center;
      z-index: 5;
    }

    .btn {
      padding: 14px 25px;
      width: auto;
      position: relative;
      z-index: 8;
      font-size: 16px;

      @include responsive1023 {
        padding: 10px 20px;
        height: auto;
        min-width: initial;
      }
    }
  }

  .grettings-main__name {
    font-size: 46px;
    line-height: 48px;
    transition: transform 0.3s;

    @include responsive1439 {
      font-size: 38px;
      line-height: 40px;
    }
  }

  .picture-block {
    position: absolute;
    top: 0;
    right: -80px;
    width: 100%;
    height: 100%;
    transition: transform 0.3s;
    z-index: -1;
    mix-blend-mode: multiply;

    @include responsive1439 {
      right: -110px;
    }

    @include responsive1023 {
      right: 20px;
    }

    @include responsive1023 {
    }

    img {
    }
  }

  .swiper-pagination {
    margin-top: 20px;
    gap: 10px;

    .swiper-pagination-bullet {
      width: 12px;
      height: 12px;
      border-radius: 50%;
      min-width: 12px;
      flex: initial;
      border: 0;
      background-color: #d9d9d9;
    }

    .swiper-pagination-bullet-active {
      background-color: $colorBlue;
    }
  }
}

.grettings-main__slider {
  overflow: visible;

  @include responsive1023 {
  }
}
