.filter-section {
  padding: 40px 0;

  @include responsive767 {
    padding-top: 0;
    padding-bottom: 15px;
  }
}

.filter {
  display: flex;
  flex-wrap: wrap;

  @include responsive767 {
    border-top: solid 1px $colorBorder;
    padding-top: 32px;
    position: relative;
    left: -10px;
    width: calc(100% + 20px);
    padding-left: 10px;
    padding-right: 10px;
  }
}

.filter-btn {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 23px;
  width: 163px;
  border-right: solid 1px #eaeaea;
  padding: 25px 0;

  @include responsive1439 {
    width: 145px;
  }

  @include responsive1199 {
    width: 117px;
    font-size: 14px;
    gap: 12px;
  }

  @include responsive767 {
    order: 3;
    border: 0;
    width: auto;
    padding: 15px 0;
  }

  &.active {
    .filter-btn__icon {
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='12' height='13' viewBox='0 0 12 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M11.2625 0.544922L5.9875 5.81367L0.7375 0.569921L0 1.30742L5.25 6.54492L0 11.7887L0.7375 12.5199L5.9875 7.28242L11.2625 12.5449L12 11.8137L6.725 6.54492L12 1.28242L11.2625 0.544922Z' fill='%23B8B8B8'/%3e%3c/svg%3e ");
      background-position: center;
      background-repeat: no-repeat;
      transform: scale(1.5);
    }
  }

  @include hover {
    .filter-btn__text {
      transform: translateX(-10px);
    }

    .filter-btn__icon {
      transform: scale(1.15);
    }
  }

  .filter-btn__icon {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M0.47619 3.3221H3.85238C3.96838 3.9854 4.31417 4.58648 4.82892 5.01962C5.34366 5.45276 5.9944 5.69021 6.66667 5.69021C7.33893 5.69021 7.98967 5.45276 8.50442 5.01962C9.01917 4.58648 9.36495 3.9854 9.48095 3.3221H19.5238C19.6501 3.3221 19.7712 3.27185 19.8605 3.18239C19.9498 3.09294 20 2.97161 20 2.84511C20 2.7186 19.9498 2.59728 19.8605 2.50782C19.7712 2.41837 19.6501 2.36811 19.5238 2.36811H9.48095C9.36495 1.70482 9.01917 1.10373 8.50442 0.670593C7.98967 0.237453 7.33893 0 6.66667 0C5.9944 0 5.34366 0.237453 4.82892 0.670593C4.31417 1.10373 3.96838 1.70482 3.85238 2.36811H0.47619C0.349897 2.36811 0.228776 2.41837 0.139473 2.50782C0.0501699 2.59728 0 2.7186 0 2.84511C0 2.97161 0.0501699 3.09294 0.139473 3.18239C0.228776 3.27185 0.349897 3.3221 0.47619 3.3221ZM6.66667 0.937136C7.04339 0.937136 7.41166 1.04904 7.7249 1.25869C8.03813 1.46834 8.28227 1.76632 8.42644 2.11496C8.5706 2.46359 8.60833 2.84722 8.53483 3.21733C8.46133 3.58744 8.27992 3.92741 8.01354 4.19425C7.74715 4.46108 7.40775 4.6428 7.03827 4.71642C6.66878 4.79004 6.2858 4.75225 5.93775 4.60784C5.5897 4.46343 5.29221 4.21888 5.08292 3.90512C4.87362 3.59135 4.7619 3.22247 4.7619 2.84511C4.7619 2.33908 4.96258 1.85378 5.3198 1.49597C5.67701 1.13815 6.16149 0.937136 6.66667 0.937136ZM19.5238 9.52301H16.1476C16.0316 8.85971 15.6858 8.25863 15.1711 7.82549C14.6563 7.39235 14.0056 7.15489 13.3333 7.15489C12.6611 7.15489 12.0103 7.39235 11.4956 7.82549C10.9808 8.25863 10.6351 8.85971 10.519 9.52301H0.47619C0.349897 9.52301 0.228776 9.57326 0.139473 9.66272C0.0501699 9.75217 0 9.87349 0 10C0 10.1265 0.0501699 10.2478 0.139473 10.3373C0.228776 10.4267 0.349897 10.477 0.47619 10.477H10.519C10.6351 11.1403 10.9808 11.7414 11.4956 12.1745C12.0103 12.6077 12.6611 12.8451 13.3333 12.8451C14.0056 12.8451 14.6563 12.6077 15.1711 12.1745C15.6858 11.7414 16.0316 11.1403 16.1476 10.477H19.5238C19.6501 10.477 19.7712 10.4267 19.8605 10.3373C19.9498 10.2478 20 10.1265 20 10C20 9.87349 19.9498 9.75217 19.8605 9.66272C19.7712 9.57326 19.6501 9.52301 19.5238 9.52301ZM13.3333 11.908C12.9566 11.908 12.5883 11.7961 12.2751 11.5864C11.9619 11.3768 11.7177 11.0788 11.5736 10.7301C11.4294 10.3815 11.3917 9.99788 11.4652 9.62777C11.5387 9.25766 11.7201 8.9177 11.9865 8.65086C12.2528 8.38403 12.5922 8.20231 12.9617 8.12869C13.3312 8.05507 13.7142 8.09285 14.0623 8.23726C14.4103 8.38167 14.7078 8.62622 14.9171 8.93999C15.1264 9.25375 15.2381 9.62264 15.2381 10C15.2381 10.506 15.0374 10.9913 14.6802 11.3491C14.323 11.707 13.8385 11.908 13.3333 11.908ZM19.5238 16.6779H9.48095C9.36495 16.0146 9.01917 15.4135 8.50442 14.9804C7.98967 14.5472 7.33893 14.3098 6.66667 14.3098C5.9944 14.3098 5.34366 14.5472 4.82892 14.9804C4.31417 15.4135 3.96838 16.0146 3.85238 16.6779H0.47619C0.349897 16.6779 0.228776 16.7282 0.139473 16.8176C0.0501699 16.9071 0 17.0284 0 17.1549C0 17.2814 0.0501699 17.4027 0.139473 17.4922C0.228776 17.5816 0.349897 17.6319 0.47619 17.6319H3.85238C3.96838 18.2952 4.31417 18.8963 4.82892 19.3294C5.34366 19.7626 5.9944 20 6.66667 20C7.33893 20 7.98967 19.7626 8.50442 19.3294C9.01917 18.8963 9.36495 18.2952 9.48095 17.6319H19.5238C19.6501 17.6319 19.7712 17.5816 19.8605 17.4922C19.9498 17.4027 20 17.2814 20 17.1549C20 17.0284 19.9498 16.9071 19.8605 16.8176C19.7712 16.7282 19.6501 16.6779 19.5238 16.6779ZM6.66667 19.0629C6.28994 19.0629 5.92167 18.951 5.60844 18.7413C5.2952 18.5317 5.05106 18.2337 4.9069 17.885C4.76273 17.5364 4.72501 17.1528 4.7985 16.7827C4.872 16.4126 5.05341 16.0726 5.3198 15.8058C5.58618 15.5389 5.92558 15.3572 6.29507 15.2836C6.66455 15.21 7.04754 15.2477 7.39559 15.3922C7.74364 15.5366 8.04112 15.7811 8.25042 16.0949C8.45972 16.4086 8.57143 16.7775 8.57143 17.1549C8.57143 17.6609 8.37075 18.1462 8.01354 18.504C7.65632 18.8618 7.17184 19.0629 6.66667 19.0629Z' fill='%23777777'/%3e%3c/svg%3e ");
    background-position: center;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    transition: transform 0.3s;
  }

  .filter-btn__text {
    font-weight: 300;
    font-size: 14px;
    line-height: 15px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    transition: transform 0.3s;
  }
}

.filterCheckList {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 24px;
  padding: 25px 30px;

  @include responsive1199 {
    padding: 25px 16px;
    gap: 8px;
  }

  @include responsive1023 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    flex: 1;
  }

  @include responsive767 {
    order: 1;
    display: flex;
    flex-wrap: wrap;
    gap: 16px 24px;
    flex: initial;
    padding: 0px 0 25px;
  }

  .filterCheck {
    @include responsive1439 {
    }
  }
}

.filterCheck {
  input {
    display: none;

    &:checked {
      & + label {
        &::before {
          opacity: 1;
        }
      }
    }
  }

  label {
    cursor: pointer;
    font-weight: 400;
    font-size: 16px;
    line-height: 17px;
    display: flex;
    align-items: center;
    gap: 8px;
    position: relative;
    min-height: 32px;
    padding-left: 42px;

    @include responsive1439 {
      font-size: 14px;
      line-height: 15px;
    }

    @include responsive1199 {
      min-height: 21px;
      padding-left: 29px;
    }

    @include after {
      width: 32px;
      height: 32px;
      border: solid 1px $colorBorder;
      position: absolute;
      top: 0;
      left: 0;
      border-radius: 5px;

      @include responsive1199 {
        width: 21px;
        height: 21px;
      }
    }

    @include before {
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='18' height='17' viewBox='0 0 18 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M0.742188 9.33107L7.3408 15.5975L17.2554 0.402588' stroke='black'/%3e%3c/svg%3e ");
      background-position: center;
      background-repeat: no-repeat;
      background-size: 17px;
      width: 32px;
      height: 32px;
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;

      @include responsive1199 {
        width: 21px;
        height: 21px;
        background-size: 12px;
      }
    }

    @include hover {
      &::before {
        opacity: 0.2;
      }
    }
  }
}

.filter-sort {
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
  align-items: flex-end;
  justify-content: flex-end;
  gap: 29px;
  margin-left: auto;
  padding: 25px 0;
  width: 280px;
  background-color: $colorWhite;
  z-index: 5;

  @include responsive1439 {
    width: 240px;
    padding: 33px 0;
  }

  @include responsive1199 {
    width: 175px;
    padding: 27px 0;
    gap: 8px;
  }

  @include responsive1023 {
    width: 125px;
    gap: 0;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 0;
  }

  @include responsive767 {
    order: 4;
    width: 180px;
    gap: 10px;
    margin-left: auto;
    padding-right: 0;
    justify-content: flex-end;
    padding: 15px 0;
  }

  @include before {
    box-shadow: 0px 0px 10px $colorBorder;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    left: 20px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    opacity: 0;

    @include responsive1439 {
      left: 10px;
    }
  }

  &:hover {
    &::before {
      opacity: 1;
    }

    .filter-sort__list {
      opacity: 1;
      pointer-events: initial;
    }
  }

  .filter-sort__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 15px;
    color: #676767;
    transition: transform 0.3s;

    @include responsive1199 {
      font-size: 12px;
      line-height: 13px;
    }
  }

  .filter-sort__icon {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='23' height='16' viewBox='0 0 23 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M0.874986 0.879883L22.0007 0.879883M8.14833 7.93006H22.0007M22.0007 15.1198H15.0598' stroke='%23777777' stroke-linecap='round'/%3e%3c/svg%3e ");
    background-position: center;
    background-repeat: no-repeat;
    width: 22px;
    height: 15px;
    transition: transform 0.3s;
  }

  .filter-sort__list {
    background-color: $colorWhite;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    padding-right: 50px;
    position: absolute;
    top: 100%;
    right: -20px;
    box-shadow: 0px 0px 10px $colorBorder;
    width: 100%;
    text-align: right;
    transition: all 0.3s;
    pointer-events: none;
    opacity: 0;

    @include responsive1439 {
      right: -10px;
    }

    @include hover {
      .filter-sort__list {
        opacity: 1;
        pointer-events: initial;
      }
    }
  }

  .filter-sort__link {
    font-weight: 400;
    font-size: 14px;
    line-height: 15px;
    color: #676767;
    padding: 20px 0;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    text-decoration: underline;
    text-decoration-color: transparent;
    transition: text-decoration 0.3s;

    @include responsive1439 {
      font-size: 12px;
      line-height: 14px;
      padding: 15px 0;
    }

    @include hover {
      text-decoration-color: #676767;
    }
  }

  @include hover {
    .filter-sort__text {
      transform: translateX(10px);
    }

    .filter-sort__icon {
      transform: scale(1.15);
    }
  }
}

.filter-selected {
  width: 100%;
  border-top: solid 1px #eaeaea;
  padding-top: 20px;

  .filter-selected__title {
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
  }

  .filter-selected__list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 18px;
  }

  .filter-selected__item {
    padding: 10px 14px;
    border: solid 1px $colorBorder;
    border-radius: 22px;
    display: flex;
    align-items: center;
    gap: 9px;
  }

  .filter-selected__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;

    @include responsive1439 {
      font-size: 14px;
      line-height: 16px;
    }
  }

  .filter-selected__delete {
    cursor: pointer;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='12' height='13' viewBox='0 0 12 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M11.2625 0.544922L5.9875 5.81367L0.7375 0.569921L0 1.30742L5.25 6.54492L0 11.7887L0.7375 12.5199L5.9875 7.28242L11.2625 12.5449L12 11.8137L6.725 6.54492L12 1.28242L11.2625 0.544922Z' fill='%23B8B8B8'/%3e%3c/svg%3e ");
    background-position: center;
    background-repeat: no-repeat;
    width: 12px;
    height: 12px;
    display: flex;

    @include hover {
      transform: scale(0.9);
    }
  }

  @include responsive767 {
    order: 2;
    border: 0;
    padding-top: 0;
  }
}

.filter-content {
  width: 100%;
  border-top: solid 1px #eaeaea;
  padding-top: 40px;
  padding-bottom: 24px;
  display: none;

  @include responsive767 {
    padding-top: 0;
    border: 0;
  }

  .filter-line {
    @include responsive767 {
      padding: 20px 16px;
      border-top: solid 1px $colorBorder;
      position: relative;
      left: -16px;
      width: calc(100% + 32px);
    }

    @include responsive389 {
      left: -8px;
      width: calc(100% + 16px);
      padding-left: 8px;
      padding-right: 8px;
    }

    .filter-line__head {
      position: relative;

      @include before {
        width: 14px;
        height: 14px;
        background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='14' height='8' viewBox='0 0 14 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M0.256292 0.260361C0.597997 -0.0867869 1.15201 -0.0867869 1.49372 0.260361L7 5.85404L12.5062 0.260361C12.848 -0.0867869 13.402 -0.0867869 13.7438 0.260361C14.0854 0.60749 14.0854 1.1703 13.7438 1.51743L7.61871 7.73967C7.27701 8.08678 6.72299 8.08678 6.38129 7.73967L0.256292 1.51743C-0.0854306 1.1703 -0.0854306 0.60749 0.256292 0.260361Z' fill='%23B9B9B9'/%3e%3c/svg%3e ");
        background-position: center;
        background-repeat: no-repeat;
        top: 50%;
        transform: translateY(-50%);
        right: 0;
        opacity: 0;
        pointer-events: none;

        @include responsive767 {
          opacity: 1;
          pointer-events: initial;
        }
      }

      &.opened {
        &::before {
          transform: translateY(-50%) scale(-1, -1);
        }
      }
    }

    .filter-line__title {
      font-weight: 700;
      font-size: 16px;
      line-height: 18px;

      @include responsive767 {
        color: #676767;
      }
    }

    .filter-line__body {
      margin-top: 20px;

      @include responsive767 {
        display: none;
      }
    }
    & + .filter-line {
    }
  }

  .filterCheckVertical {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .filterCheckHorizontal {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

    .filterCheck {
      min-width: 85px;

      @include responsive767 {
        min-width: 75px;
      }
    }
  }

  .filter-content__inner {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;

    @include responsive1439 {
      justify-content: flex-start;
    }

    @include responsive767 {
      gap: 0;
    }
  }

  .filter-col {
    display: flex;
    flex-direction: column;
    gap: 32px;
    max-width: 389px;
    min-width: 157px;

    @include responsive1439 {
      min-width: 300px;
      max-width: 300px;
    }

    @include responsive1199 {
      min-width: 320px;
      max-width: 320px;
    }

    @include responsive767 {
      max-width: 100%;
      min-width: initial;
      width: 100%;
      gap: 0;
    }
  }

  @include responsive767 {
    order: 9;
  }
}

.circleColorList {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  width: 100%;

  .circleColor {
    @include hover {
      transform: scale(1.5);

      &::before {
        transform: scale(1);
        opacity: 1;
      }
    }
  }
}

.circleColor {
  width: 19px;
  height: 19px;
  border-radius: 50%;
  display: flex;
  border: solid 1px transparent;
  overflow: hidden;
  transition: transform 0.3s;
  position: relative;
  background-size: 11px;

  &.circleColor--WHITE {
    &::before {
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M0.820312 6.81922L4.96043 10.7509L11.1811 1.21729' stroke='%23000'/%3e%3c/svg%3e ");
    }
  }

  &.active {
    &::before {
      opacity: 1;
      transform: scale(1);
    }
  }

  @include before {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M0.820312 6.81922L4.96043 10.7509L11.1811 1.21729' stroke='white'/%3e%3c/svg%3e ");
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0;
    transform: scale(0);
  }
}

.filter-controls {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 25px;
  margin-top: 90px;

  @include responsive1439 {
    margin-top: 30px;
  }

  @include responsive1199 {
    gap: 12px;
  }

  @include responsive767 {
    margin-top: 20px;
  }

  @include responsive389 {
    flex-direction: column;
  }

  .btn {
    max-width: 310px;

    @include responsive1199 {
      max-width: 280px;
      padding-left: 15px;
      padding-right: 15px;
      font-size: 16px;
    }

    @include responsive767{
      height: 45px;
      font-size: 14px;
    }

    @include responsive389 {
      max-width: 100%;
      width: 100%;
    }
  }
}

.rangeInputs {
  display: flex;
  align-items: center;
  gap: 10px;
  max-width: 250px;
  width: 100%;

  input {
    height: 40px;
    border-radius: 5px;
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    border: solid 1px $colorBorder;
    width: 100%;
    min-width: 90px;
  }
}

.range {
  max-width: 250px;
  width: 100%;

  .irs-max,
  .irs-min {
    display: none;
  }

  .irs--flat {
    .irs-bar {
      height: 1px;
      background-color: $colorBlack;
    }

    .irs-handle {
      cursor: pointer;
      width: 20px;
      height: 20px;
      border: solid 1px $colorBlack;
      border-radius: 50px;
      top: 15px;
      background-color: $colorWhite;

      i {
        display: none;
      }
    }
  }

  .irs-line {
    height: 1px;
    background-color: $colorBlack-a2;
  }
}
