.header {
  position: relative;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
  transition: all 0.3s;

  @include responsive767 {
    position: fixed;
    background-color: $colorWhite;
  }

  .container {
    transition: all 0.3s;
  }

  &.scroll {
    position: fixed;
    background-color: #f3f3f3;

    .header-top {
      margin-top: -40px;

      @include responsive1199 {
        margin-top: -38px;
      }
    }

    .header-center {
      padding: 16px 0;
      box-shadow: 0px 0px 16px 0px #00000029;

      .phone-block {
        display: block;
      }

      @include responsive767 {
        padding: 20px 0;
      }
    }

    .container {
      max-width: 100%;
      padding-left: 40px;
      padding-right: 40px;

      @include responsive1439 {
        padding-left: 10px;
        padding-right: 10px;
      }

      @include responsive767 {
        padding-left: 16px;
        padding-right: 16px;
      }

      @include responsive389 {
        padding-left: 8px;
        padding-right: 8px;
      }
    }

    .header-center .menu .menu-link.opened {
      background-color: $colorWhite;
    }

    .menu-invis-phone {
      top: 26px;
      right: 100px;

      @include responsive1199 {
        top: 26px;
        right: 40px;
      }
    }
  }
}

.header-top {
  background-color: $colorDark;
  color: $colorLight;
  padding: 11px 0;

  @include responsive767 {
    display: none;
  }

  .header-top__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .header-top__menu {
    display: flex;
    align-items: center;
    gap: 29px;
    font-size: 15px;

    @include responsive1199 {
      font-size: 12px;
    }

    @include responsive1199 {
      gap: 20px;
    }

    a {
      @include text-decoration-hover($colorLight);
    }
  }

  .header-top__info {
  }

  .phone-block {
    color: $colorLight;
  }
}

.header-center {
  padding: 40px 0;

  @include responsive1199 {
    padding: 16px 0;
  }

  @include responsive767 {
    padding: 20px 0;
  }

  .header-center__inner {
    display: flex;
    align-items: center;
    gap: 40px;

    @include responsive1023 {
      gap: 25px;
    }

    @include responsive767 {
      gap: 10px;
    }
  }

  .logo {
    z-index: 6;

    @include responsive767 {
      z-index: auto;
    }
  }

  .menu {
    display: flex;

    @include responsiveMinWidth768 {
      display: flex !important;
    }

    @include responsive767 {
      display: none;
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      background-color: $colorWhite;
      padding-bottom: 20px;
      height: calc(100vh - 88px);
      overflow: auto;
    }

    .menu-list {
      display: flex;
      align-items: center;

      @include responsive767 {
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
      }

      li {
        @include responsive767 {
          width: 100%;
        }

        &:first-child {
          a {
            &::after {
              // display: none;
            }
          }
        }

        &:last-child {
          a {
            @include responsive767 {
              border-bottom: solid 1px #ebebeb;
            }
          }
        }
      }
    }

    .menu-link {
      padding: 16px 20px;
      font-weight: 700;
      font-size: 16px;
      line-height: 18px;
      transition: all 0.3s;
      white-space: nowrap;
      @include text-decoration-hover($colorBlack);
      position: static;
      border-radius: 60px;
      transition: all 0.3s;

      @include responsive1199 {
        font-size: 14px;
        line-height: 16px;
      }

      @include responsive1023 {
        padding: 16px 12px;
      }

      @include responsive767 {
        font-weight: 700;
        font-size: 16px;
        line-height: 18px;
        padding: 20px;
        display: block;
        width: 100%;
        border-top: solid 1px #ebebeb;
        position: relative;
        border-radius: 0;
      }

      &.opened {
        border-bottom: 0 !important;
        background-color: #f3f3f3;

        &::after {
          transform: translateY(-50%) scale(-1, -1);
        }
      }

      @include after {
        background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='14' height='8' viewBox='0 0 14 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M0.256292 0.260361C0.597997 -0.0867869 1.15201 -0.0867869 1.49372 0.260361L7 5.85404L12.5062 0.260361C12.848 -0.0867869 13.402 -0.0867869 13.7438 0.260361C14.0854 0.60749 14.0854 1.1703 13.7438 1.51743L7.61871 7.73967C7.27701 8.08678 6.72299 8.08678 6.38129 7.73967L0.256292 1.51743C-0.0854306 1.1703 -0.0854306 0.60749 0.256292 0.260361Z' fill='%23B9B9B9'/%3e%3c/svg%3e ");
        background-position: center;
        background-repeat: no-repeat;
        width: 14px;
        height: 10px;
        top: 50%;
        transform: translateY(-50%);
        right: 20px;
        display: none;

        @include responsive767 {
          display: block;
        }
      }
    }

    .menu-all-mobile {
      display: none;

      @include responsive767 {
        display: flex;
      }

      a {
        font-weight: 400;
        font-size: 16px;
        line-height: 18px;
        color: #676767;
        padding: 20px;
        display: block;
        width: 100%;
      }
    }
  }

  .header-center__controls {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-left: auto;

    @include responsive1199 {
      gap: 25px;
    }

    @include responsive767 {
      margin: 0;
      width: 100%;
      gap: 20px;
      padding-right: 10px;
    }
  }

  .search-block {
  }

  .button-basket {
  }

  .phone-block {
    display: none;

    @include responsive767 {
      display: block;
      order: -1;
      color: #b6b6b6;
      font-weight: 700;
      font-size: 14px;
      line-height: 16px;
      margin-right: auto;
    }

    @include responsive389 {
      font-size: 12px;
    }

    .phone-block__link {
      @include responsive767 {
        @include text-decoration-hover(#b6b6b6);

        &::before {
          display: none;
        }
      }
    }
  }
}

.phone-block {
  font-weight: 400;
  font-size: 15px;
  line-height: 16px;
  position: relative;
  display: flex;
  align-items: center;
  gap: 8px;

  @include responsive1199 {
    font-size: 12px;
  }

  .phone-block__link {
    display: flex;
    align-items: center;
    gap: 8px;
    font-weight: 700;
    @include text-decoration-hover($colorLight);
    white-space: nowrap;

    @include before {
      position: relative;
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M13.2237 13.619C11.6425 13.619 10.1012 13.2664 8.59992 12.5614C7.09813 11.8568 5.76819 10.9253 4.6101 9.76667C3.45152 8.60858 2.51995 7.27864 1.81539 5.77686C1.11034 4.27556 0.757812 2.7343 0.757812 1.15308C0.757812 0.932447 0.831357 0.748584 0.978447 0.601494C1.12554 0.454404 1.3094 0.380859 1.53004 0.380859H4.50861C4.68021 0.380859 4.83343 0.436018 4.96826 0.546336C5.1031 0.656653 5.18277 0.797614 5.20728 0.969219L5.68533 3.54329C5.70984 3.7149 5.7069 3.87106 5.6765 4.01178C5.64561 4.15298 5.57501 4.27874 5.46469 4.38906L3.69961 6.19091C4.21443 7.07345 4.85795 7.90083 5.63017 8.67306C6.40239 9.44528 7.25429 10.1133 8.18586 10.6772L9.91416 8.94885C10.0245 8.83853 10.1686 8.75567 10.3466 8.70027C10.5241 8.64536 10.6986 8.63016 10.8702 8.65467L13.4076 9.16949C13.5792 9.20626 13.7201 9.28887 13.8304 9.41733C13.9408 9.54628 13.9959 9.69656 13.9959 9.86816V12.8467C13.9959 13.0674 13.9224 13.2512 13.7753 13.3983C13.6282 13.5454 13.4443 13.619 13.2237 13.619Z' fill='white'/%3e%3c/svg%3e ");
      background-position: center;
      background-repeat: no-repeat;
      width: 14px;
      height: 14px;
      display: block;
    }

    @include hover {
      &::before {
        transform: translateX(-5px);
      }
    }
  }

  .phone-block__time {
    font-weight: 400;
  }

  &--dark {
    .phone-block__link {
      @include text-decoration-hover($colorBlack);

      &::before {
        width: 20px;
        height: 20px;
        background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M1.16699 1H5.66699C5.68717 1.00003 5.69495 1.00245 5.69629 1.00293C5.69816 1.0036 5.70791 1.00835 5.72754 1.02441C5.72917 1.02575 5.73026 1.02727 5.73145 1.02832L5.73242 1.03027L5.73535 1.05078L5.73926 1.07129L6.45508 4.92773C6.47693 5.08633 6.46978 5.19701 6.4541 5.27148C6.45157 5.28304 6.44683 5.30609 6.4043 5.34863L6.33984 5.41309L6.28809 5.48828L4.84277 7.58496L4.4834 8.10742L4.80273 8.65625C4.98749 8.97297 5.17011 9.31016 5.36719 9.67383C5.56128 10.032 5.76834 10.4126 5.99023 10.7881C6.43147 11.5347 6.96167 12.3155 7.6543 12.9561C8.33056 13.5814 8.94208 13.9452 9.54688 14.2559C10.1636 14.5726 10.6653 14.7861 11.3301 15.1885L11.8877 15.5264L12.4209 15.1523L14.4062 13.7637L14.4785 13.7139L14.54 13.6514C14.5717 13.6197 14.6387 13.5681 14.7812 13.5234L14.7822 13.5244C14.9122 13.4842 15.0218 13.4765 15.1201 13.4883L18.9014 14.2549V14.2559C18.9551 14.2674 18.9725 14.2819 18.9912 14.3037C18.9963 14.3098 18.9985 14.3135 18.999 14.3145C18.9994 14.315 18.9994 14.3145 18.999 14.3135L19 14.333V18.833C19 18.8862 18.9916 18.9116 18.9883 18.9199C18.9855 18.9268 18.9802 18.9397 18.96 18.96C18.9397 18.9802 18.9268 18.9855 18.9199 18.9883C18.9116 18.9916 18.8862 19 18.833 19C16.5984 19 14.4142 18.5029 12.2725 17.4971C10.2426 16.5448 8.43409 15.307 6.84277 13.7822L6.52734 13.4727L6.21777 13.1572C4.69305 11.5659 3.45522 9.75738 2.50293 7.72754C1.49712 5.58583 1.00005 3.40163 1 1.16699C1 1.11378 1.00841 1.08844 1.01172 1.08008C1.01446 1.07323 1.01977 1.06031 1.04004 1.04004C1.06031 1.01977 1.07323 1.01446 1.08008 1.01172C1.08844 1.00841 1.11378 1 1.16699 1Z' fill='white' stroke='black' stroke-width='2'/%3e%3c/svg%3e ");
      }
    }
  }
}

.search-block {
  position: relative;
  width: 20px;
  height: 20px;
  z-index: 3;

  input {
    width: 0;
    position: absolute;
    right: -5px;
    top: -5px;
    height: 100%;
    border: 0;
    pointer-events: none;
    background: transparent;
    transition: width 0.3s, opacity 0.1s;
    opacity: 0;
  }

  .icon-search {
    cursor: pointer;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M19.6707 18.0907L15.8958 14.3269C17.1137 12.7752 17.7746 10.8591 17.7721 8.88656C17.7721 7.12983 17.2512 5.41256 16.2752 3.95189C15.2992 2.49123 13.912 1.35278 12.289 0.680513C10.666 0.008243 8.88012 -0.167653 7.15715 0.175067C5.43418 0.517787 3.85153 1.36373 2.60934 2.60592C1.36715 3.84811 0.521205 5.43076 0.178485 7.15373C-0.164235 8.8767 0.011661 10.6626 0.683931 12.2856C1.3562 13.9086 2.49465 15.2958 3.95531 16.2718C5.41598 17.2478 7.13325 17.7687 8.88997 17.7687C10.8625 17.7712 12.7786 17.1103 14.3303 15.8924L18.0941 19.6673C18.1973 19.7713 18.3201 19.8539 18.4554 19.9103C18.5907 19.9667 18.7358 19.9957 18.8824 19.9957C19.029 19.9957 19.1741 19.9667 19.3094 19.9103C19.4447 19.8539 19.5675 19.7713 19.6707 19.6673C19.7748 19.5641 19.8574 19.4413 19.9137 19.306C19.9701 19.1707 19.9991 19.0256 19.9991 18.879C19.9991 18.7324 19.9701 18.5873 19.9137 18.452C19.8574 18.3167 19.7748 18.1939 19.6707 18.0907ZM2.22836 8.88656C2.22836 7.56901 2.61905 6.28106 3.35104 5.18556C4.08303 4.09006 5.12343 3.23623 6.34068 2.73202C7.55794 2.22782 8.89736 2.0959 10.1896 2.35294C11.4818 2.60998 12.6688 3.24444 13.6005 4.17608C14.5321 5.10773 15.1666 6.29471 15.4236 7.58694C15.6806 8.87917 15.5487 10.2186 15.0445 11.4358C14.5403 12.6531 13.6865 13.6935 12.591 14.4255C11.4955 15.1575 10.2075 15.5482 8.88997 15.5482C7.1232 15.5482 5.42879 14.8463 4.1795 13.597C2.9302 12.3477 2.22836 10.6533 2.22836 8.88656Z' fill='black'/%3e%3c/svg%3e ");
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    width: 20px;
    height: 20px;
    transition: all 0.3s;

    @include hover {
      transform: scale(0.9);
    }
  }

  &.opened {
    .icon-search {
      opacity: 0;
      pointer-events: none;
    }

    input {
      opacity: 1;
      pointer-events: initial;
      width: 220px;
      height: 30px;
      border: solid 1px $colorBorder;
      border-radius: 20px;
      background-color: $colorWhite;
      padding: 0 50px 0 20px;
    }
  }
}

.button-basket {
  cursor: pointer;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='21' height='22' viewBox='0 0 21 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cg clip-path='url(%23clip0_343_25911)'%3e%3cpath d='M17.2994 20.1875H3.69667L-0.125 8.375H21.1208L17.2994 20.1875ZM4.17442 19.5312H16.822L20.2191 9.03125H0.777344L4.17442 19.5312Z' fill='black' stroke='black' stroke-width='1.2'/%3e%3cpath d='M6.91472 2.01904L7.52438 2.26284L4.89872 8.82468L4.28906 8.58089L6.91472 2.01904ZM14.0869 2.01904L16.7119 8.58154L16.1022 8.82567L13.4772 2.26284L14.0869 2.01904Z' fill='black' stroke='black' stroke-width='1.2'/%3e%3c/g%3e%3cdefs%3e%3cclipPath id='clip0_343_25911'%3e%3crect y='0.5' width='21' height='21' fill='white'/%3e%3c/clipPath%3e%3c/defs%3e%3c/svg%3e ");
  background-position: center;
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
  position: relative;
  transition: transform 0.3s;

  @include responsive767 {
    width: 24px;
    height: 24px;
    background-size: contain;
  }

  @include hover {
    transform: scale(0.9);
  }

  .button-basket__count {
    border-radius: 50%;
    background-color: $colorBlue;
    color: $colorWhite;
    width: 20px;
    height: 20px;
    position: absolute;
    right: -5px;
    top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 5px;
    font-size: 10px;

    @include responsive767 {
      width: 15px;
      height: 15px;
    }
  }
}

.header-links-politic {
  display: none;
  font-weight: 300;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0%;
  text-align: left;
  text-decoration: underline;

  @include responsive767 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    margin-top: 30px;
    padding: 0 20px;
  }

  a {
    @include hover {
      text-decoration-color: transparent;
    }
  }
}

.menu-invis {
  display: none;
  position: absolute;
  top: 0px;
  left: 0;
  width: 100%;
  height: 100dvh;
  background-color: $colorWhite;
  z-index: 5;
  overflow: auto;

  .container {
    position: relative;
    height: 100%;
    transition: all 0.3s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: auto;
    min-height: 600px;
  }

  .menu-all {
    padding: 50px 110px 0;

    @include responsive1199 {
      padding-left: 30px;
      padding-right: 30px;
    }
  }

  .menu-all .menu-all__row:last-child,
  .menu-all .menu-all__row:first-child {
    border-color: #cb7f35;
  }
}

.menu-invis-phone {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: absolute;
  top: 90px;
  right: 100px;

  @include responsive1199 {
    top: 63px;
    right: 40px;
  }

  .menu-invis-phone__link {
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: $colorBlack;
    position: relative;
    @include text-decoration-hover($colorBlack);

    @include responsive1199 {
      font-size: 18px;
      line-height: 24px;
    }

    @include before {
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='25' height='25' viewBox='0 0 25 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M0.982178 12.6329C2.01132 14.9121 3.76404 17.3814 5.79062 19.408C7.95217 21.5695 10.3368 23.2814 12.5054 24.2273C13.6861 24.7426 14.7424 25.0002 15.6316 25.0002C16.5156 25.0002 17.2342 24.7451 17.7442 24.2347L19.7898 22.1898C20.4112 21.5678 20.3555 20.5005 19.6654 19.8101L16.6513 16.7956C15.9605 16.1055 14.8926 16.0502 14.2716 16.6716L13.333 17.6101C13.0729 17.8047 11.4654 17.3095 9.65696 15.5011C7.8475 13.692 7.35125 12.0834 7.54686 11.8258L8.48648 10.8861C9.10785 10.2644 9.05216 9.19651 8.36207 8.50642L5.34724 5.49229C4.65644 4.8022 3.58923 4.74616 2.96751 5.36823L0.922614 7.41313C-0.0984252 8.43382 -0.0772785 10.2877 0.981825 12.6329H0.982178ZM1.91969 8.40985L3.96494 6.36495C3.97904 6.35085 4.00723 6.34239 4.04353 6.34239C4.12319 6.34239 4.24408 6.38222 4.35087 6.48901L7.365 9.50314C7.52078 9.65892 7.53417 9.84466 7.48941 9.88942L6.54979 10.8287C5.38178 11.9974 6.72707 14.565 8.65989 16.4978C9.62242 17.46 10.6808 18.229 11.6402 18.6622C13.2191 19.3755 14.0026 18.9343 14.3286 18.6076L15.2683 17.6683C15.3134 17.6232 15.4984 17.6369 15.6546 17.7923L18.6683 20.8068C18.8241 20.9626 18.8375 21.148 18.7927 21.1928L16.7475 23.238C16.1801 23.8058 14.8052 23.6927 13.0694 22.9349C11.0583 22.0577 8.8273 20.4509 6.78733 18.4112C4.87637 16.5003 3.22903 14.1822 2.26685 12.0524C1.48935 10.3314 1.3593 8.96989 1.91933 8.40985H1.91969ZM24.3424 14.1953C24.3424 6.55069 18.1227 0.331055 10.4782 0.331055V1.74084C17.3456 1.74084 22.9326 7.32819 22.9326 14.1953H24.3424Z' fill='black'/%3e%3cpath d='M10.7422 4.18213V5.59192C15.6306 5.59192 19.608 9.56893 19.608 14.4574H21.0178C21.0178 8.79143 16.4078 4.18213 10.7422 4.18213Z' fill='black'/%3e%3cpath d='M16.0187 14.4571H17.4285C17.4285 10.7705 14.4291 7.77051 10.7422 7.77051V9.1803C13.6516 9.1803 16.0187 11.5477 16.0187 14.4571Z' fill='black'/%3e%3c/svg%3e ");
      background-position: center;
      background-repeat: no-repeat;
      width: 25px;
      height: 25px;
      right: -32px;
      top: 0;

      @include responsive1199 {
        width: 20px;
        height: 20px;
        right: -28px;
        top: 1px;
        background-size: contain;
      }
    }
  }

  .menu-invis-phone__work {
    font-weight: 400;
    font-size: 13px;
    line-height: 14px;
  }
}

.menu-sub {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: $colorWhite;
  width: 100%;
  padding: 40px 0;
  box-shadow: 0px 25px 25px rgba(98, 97, 97, 0.05);
  border-bottom-right-radius: 60px;
  border-bottom-left-radius: 60px;
  overflow: hidden;

  @include responsive767 {
    position: relative;
    padding: 0 !important;
    top: auto;
    box-shadow: none;
    border-radius: 0;
    display: none;
  }

  .container {
    @include responsive767 {
      width: 100%;
      padding: 0;
    }
  }

  .menu-sub__inner {
    display: flex;
    align-items: flex-start;
    gap: 40px;
  }

  .menu-sub__head {
    display: flex;
    flex-direction: column;
    width: 220px;

    @include responsive767 {
      width: 100%;
    }
  }

  .menu-sub__body {
    width: 100%;
    padding-top: 30px;

    @include responsive767 {
      display: none;
    }

    ul {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      gap: 20px;
      text-align: center;

      @include responsive1199 {
        grid-template-columns: repeat(4, 1fr);
        gap: 15px;
      }
    }

    a {
      display: flex;
      flex-direction: column;
      gap: 10px;
      font-weight: 400;
      font-size: 14px;
      line-height: 16px;
      color: $colorBlack;
      text-align: center;

      @include responsive1199 {
        gap: 5px;
      }

      @include hover {
        .picture-block {
          box-shadow: 0px 0px 25px rgba(98, 97, 97, 0.1);
        }
      }
    }

    .picture-block {
      width: 100%;
      height: 160px;
      border-radius: 20px;
      overflow: hidden;
      transition: all 0.3s;

      img {
        object-fit: contain;
      }
    }
  }

  .menu-sub__desc {
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    margin-bottom: 10px;

    @include responsive767 {
      display: none;
    }
  }

  .caption {
    border-bottom: solid 2px $colorBlack;
    padding: 5px 0 20px;

    @include responsive767 {
      display: none;
    }
  }

  .menu-sub__ul {
    margin-top: 20px;

    @include responsive767 {
      margin: 0;
      padding: 0 20px 20px;
    }

    @include responsive389 {
    }

    a {
      font-weight: 700;
      font-size: 18px;
      line-height: 39px;
      color: $colorBlack;
      border-bottom: 0 !important;
      @include text-decoration-hover($colorBlack);

      @include responsive1199 {
        font-size: 16px;
      }

      @include responsive767 {
        font-weight: 500;
      }
    }
  }

  .menu-sub__close {
    cursor: pointer;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='22' height='23' viewBox='0 0 22 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M1 1.20117L20.9932 21.6691M1 21.6691L20.9937 1.20117' stroke='black' stroke-width='2' stroke-linecap='round'/%3e%3c/svg%3e ");
    background-position: left center;
    background-repeat: no-repeat;
    width: 100%;
    height: 20px;
    margin-bottom: 35px;
    margin-top: -10px;
    transition: all 0.3s;
    position: relative;
    font-size: 10px;
    line-height: 12px;
    text-transform: uppercase;
    background-size: 20px;

    @include responsive1199 {
      display: none;
    }

    .text {
      position: absolute;
      left: 30px;
      top: 50%;
      transform: translateY(-50%);
      transition: all 0.3s;
    }

    @include hover {
      .text {
        left: 35px;
      }
    }
  }
}
