.foto-section {
  overflow: hidden;

  .foto-slider-big {
    width: 1120px;
    overflow: visible;

    @include responsive1549 {
      width: 900px;
    }

    @include responsive1199 {
      width: 632px;
    }

    @include responsive767 {
      width: 100%;
    }

    .swiper-slide {
      opacity: 0.2;
      transition: all 0.3s;
      pointer-events: none;

      &.swiper-slide-active {
        opacity: 1;
        pointer-events: initial;

        .foto-slider-big__controls {
          opacity: 1;
          pointer-events: initial;
        }
      }
    }

    .btnSwiper {
      background-position: center;
      background-repeat: no-repeat;
      width: 43px;
      height: 43px;
      box-shadow: 0px 0px 16px 0px #0000006b;
      background-color: $colorWhite;
      border-radius: 50%;
      position: absolute;
      top: 50%;
      transform: translateY(calc(-50% - 50px));
      z-index: 5;
      cursor: pointer;
      transition: all 0.3s;

      @include responsive767 {
        transform: translateY(-50%);
      }

      &.swiper-button-disabled {
        opacity: 0.33;
        pointer-events: none;
      }

      @include hover {
        transform: translateY(calc(-50% - 50px)) scale(1.1);

        @include responsive767 {
          transform: translateY(-50%) scale(1.1);
        }
      }
    }

    .btnSwiperPrev {
      left: -85px;
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='7' height='13' viewBox='0 0 7 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M6 11.5L1 6.50001L6 1.5' stroke='%230090E2' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e ");

      @include responsive1023 {
        left: -25px;
      }

      @include responsive767 {
        left: -10px;
      }
    }

    .btnSwiperNext {
      right: -85px;
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='7' height='13' viewBox='0 0 7 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M1 1.5L6 6.49999L1 11.5' stroke='%230090E2' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e ");

      @include responsive1023 {
        right: -25px;
      }

      @include responsive767 {
        right: -10px;
      }
    }

    .picture-block {
      position: relative;
      top: 0;
      left: 0;
      width: 100%;
      height: 755px;
      border-radius: 20px;

      picture {
        border-radius: 20px;
        overflow: hidden;
      }

      @include responsive1549 {
        height: 605px;
      }

      @include responsive1439 {
        height: 546px;
      }

      @include responsive1199 {
        height: 430px;
      }

      @include responsive767 {
        height: auto;
        padding-top: calc(232 / 343 * 100%);
      }
    }
  }

  .foto-slider-small {
    margin-top: 80px;
    overflow: visible;

    @include responsive767 {
      margin-top: 24px;
    }

    .swiper-slide {
      opacity: 0.5;
      transition: all 0.3s;
      cursor: pointer;

      @include hover {
        opacity: 1;
      }

      &.swiper-slide-thumb-active {
        opacity: 1;
      }
    }

    .picture-block {
      height: 233px;
      width: 100%;
      border-radius: 20px;
      overflow: hidden;

      @include responsive1549 {
        height: 219px;
      }

      @include responsive1439 {
        height: 172px;
      }

      @include responsive1199 {
        height: 131px;
      }

      @include responsive767 {
        height: 59px;
        border-radius: 12px;
      }
    }
  }
}

.foto-slider-big__controls {
  display: flex;
  align-items: center;
  gap: 24px;
  justify-content: flex-end;
  margin-top: 40px;
  position: relative;
  transform: translateX(200px);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s;
  z-index: 5;

  @include responsive1549 {
    margin-top: 32px;
    transform: translateX(150px);
  }

  @include responsive1439 {
    transform: translateX(110px);
  }

  @include responsive1023 {
    transform: translateX(0);
  }

  @include responsive767 {
    display: none;
  }

  .btn {
    max-width: 270px;
    padding: 14px;
    font-size: 16px;

    @include responsive1439 {
      max-width: 220px;
      padding: 0;
      height: 45px;
      font-size: 13px;
    }
  }
}

.foto-toch {
  position: absolute;
  width: 24px;
  height: 24px;

  &.active {
    z-index: 5;
  }

  .foto-toch__circle {
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 16px;
    height: 16px;
    border-radius: 50px;
    background-color: $colorBlue;
    animation: pulse 5s infinite;
    transition: all 0.3s;

    @include hover {
      transform: translate(-50%, -50%) scale(1.5);
    }
  }

  .foto-toch__content {
    transition: all 0.3s;
    transform: scale(0);
    pointer-events: none;
    transform-origin: bottom center;
    position: absolute;
    bottom: 50px;
    left: 50%;
    margin-left: -128px;
    width: 261px;
    background-color: $colorWhite;
    border-radius: 20px;
    text-align: center;
    padding: 22px 15px;
    box-shadow: 0px 0px 5px 5px $colorBlack-a3;

    @include responsive1549 {
      width: 381px;
      margin-left: -188px;
    }

    @include responsive1199 {
      width: 261px;
      margin-left: -128px;
    }

    @include responsive767 {
      padding: 8px;
      width: 170px;
      margin-left: -85px;
      bottom: 28px;
    }

    &.opened {
      transform: scale(1);
      pointer-events: initial;
    }

    @include before {
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='39' height='17' viewBox='0 0 39 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M19.5 17L0.0144272 0.5L38.9856 0.5L19.5 17Z' fill='white'/%3e%3c/svg%3e ");
      background-position: center;
      background-repeat: no-repeat;
      width: 45px;
      height: 22px;
      left: 50%;
      bottom: -18px;
      margin-left: -24.5px;

      @include responsive767 {
        width: 24px;
        height: 12px;
        background-size: contain;
        bottom: -9px;
        margin-left: -12px;
      }
    }
  }

  .foto-toch__inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 16px;

    @include responsive767 {
      gap: 4px;
    }
  }

  .foto-toch__title {
    font-weight: 500;
    font-size: 24px;
    line-height: 100%;
    color: $colorBlue;

    @include responsive1549 {
      font-size: 20px;
      line-height: 22px;
    }

    @include responsive767 {
      font-size: 14px;
      line-height: 16px;
    }
  }

  .foto-toch__prices {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    font-weight: 700;
    font-size: 20px;
    line-height: 22px;

    @include responsive1549 {
      font-size: 18px;
      line-height: 20px;
    }

    @include responsive767 {
      font-size: 14px;
      line-height: 16px;
    }

    .price--old {
      text-decoration: line-through;
      color: #777777;
      font-size: 16px;
      line-height: 18px;
      font-weight: 400;

      @include responsive1549 {
        font-size: 14px;
        line-height: 18px;
      }

      @include responsive767 {
        font-size: 10px;
        line-height: 12px;
      }
    }
  }

  .btn {
    padding: 15px;
    height: 40px;
    font-size: 16px;
    line-height: 18px;

    @include responsive767 {
      font-size: 14px;
      line-height: 16px;
      height: 30px;
      padding: 6px;
    }
  }

  &.low-top {
    .foto-toch__content {
      transform-origin: top center;
      bottom: auto;
      top: calc(100% + 25px);

      @include responsive767 {
        top: calc(100% + 15px);
      }

      &::before {
        bottom: auto;
        top: -18px;
        transform: scale(-1, -1);

        @include responsive767 {
          top: -9px;
        }
      }
    }
  }
}
